.container-inventario {
  max-width: 1444px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
}

.grid-inventario {
  margin-left: 30px;
  margin-top: 30px;
  display: grid;
  width: 100%;
  grid-template-columns: minmax(200px, 320px) minmax(200px, 320px) minmax(
      200px,
      320px
    );
  gap: 50px;
  margin-right: 20px;
}

.qtd-carros {
  position: absolute;
  top: -30px;
  left: 330px;
}

.inventario-bg {
  padding: 0px 0px 150px 0px;
  border-bottom: 1px solid var(--border-c1);
}

@media (max-width: 1300px) {
  .grid-inventario {
    grid-template-columns: minmax(200px, 320px) minmax(200px, 320px);
    justify-content: center;
  }
  .qtd-carros {
    left: 350px;
  }
}

@media (max-width: 1000px) {
  .grid-inventario {
    gap: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 885px) {
  .container-inventario {
    flex-direction: column;
    align-items: center;
  }
  .qtd-carros {
    display: none;
  }
}

@media (max-width: 665px) {
  .grid-inventario {
    gap: 0px;
  }
  .filtro {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .container-inventario {
    flex-direction: column;
  }
  .grid-inventario {
    grid-template-columns: minmax(200px, 250px);
  }
  .qtd-carros {
    display: block;
    left: 100px;
    top: 600px;
    font-size: 1.8rem;
  }
}
