<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" [ngClass]="{ 'sidenav-collapsed': isSidenavCollapsed }">
    <app-sidenav-admin></app-sidenav-admin>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()" class="hamburger-button" [class.is-active]="!isSidenavCollapsed" aria-label="Toggle sidenav">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <span>Painel Administrativo</span>
    </mat-toolbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>