.sidenav-container {
  width: 100%;
  height: 100vh;
  background-color: #f4f7fa;
}

.sidenav {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.05);
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav-collapsed {
  width: 80px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.main-content {
  padding: 2rem;
  flex-grow: 1;
  overflow-y: auto;
}
.hamburger-button {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: content-box;
  margin-right: 1rem;
}

.hamburger-button .bar {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger-button.is-active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hamburger-button.is-active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-button.is-active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}
