.cor-opcao {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 35px 0px;
  border-radius: 8px;
  transition: border 0.2s;
  box-sizing: border-box;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--border-payment-card);
  transition: transform 0.3s ease;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 8px;
  border: 4px solid #fff;
}

.cores-disponiveis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.cor-opcao:hover {
  border-color: #a0a0a0;
  transform: scale(1.05);
}

.cor-opcao.selected {
  border: 2px solid var(--components-color);
  background: var(--bg-card-cars);
}

.cor-opcao.selected p {
  color: var(--text-special);
  font-weight: 600;
}

.cor-opcao p {
  font-size: 0.9rem;
  color: var(--text-special);
  font-weight: 300;
}

.cor-opcao span {
  color: var(--text-color-one);
  font-weight: 600;
  font-size: 0.9rem;
}

.title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 35px;
}

.next-btn {
  background: var(--gradient-buttons);
  color: var(--text-color-four);
  border-radius: 5px;
  margin-top: 50px;
}

.next-btn:hover {
  background: var(--gradient-hover);
}

::ng-deep .mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: var(--bg-card-cars) !important;
  border-radius: 5px !important;
}

::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header
  .mat-step-icon {
  height: 42px !important;
  width: 42px !important;
  background-color: transparent !important;
  border: 1px solid #475569;
}

::ng-deep .mat-step-icon .mat-icon {
  color: #94a0b8;
  height: 24px !important;
  width: 24px !important;
  font-size: 24px !important;
  text-align: center;
}

::ng-deep .mat-step-icon-state-edit .mat-icon {
  color: var(--components-color);
}

.payment-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 65px;
  gap: 20px;
}

.icons {
  background-color: var(--bg-icon) !important;
  padding: 20px;
  border-radius: 5px;
  color: var(--icons-color-payment);
}

.payment-options h2 {
  color: var(--text-title);
}

.pay-type {
  color: var(--text-color-two);
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.payment-card span {
  font-size: 1.5rem;
  color: var(--text-special);
  font-weight: bold;
}

.pay-last {
  font-size: 0.875rem;
  color: var(--text-title);
  background-color: transparent;
  border: 1px solid #4a4947;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
}

.pay-pix {
  color: #198750;
  background-color: #dcfce7;
  border: 1px solid #4a4947;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
}

.secondforms-title {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.secondforms-title h1 {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--text-title);
}

.secondforms-title p {
  color: var(--text-color-two);
}

.payment-card {
  border: 1px solid var(--border-payment-card);
  border-radius: 8px;
  transition: border-color 0.3s ease;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  transition: transform 0.3s ease;
  padding: 60px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.payment-card:hover {
  border-color: #a0a0a0;
  transform: scale(1.05);
}

.payment-card.selected {
  border-color: var(--components-color);
  box-shadow: 0 4px 8px rgba(0, 68, 148, 0.2);
}

.payment-card.selected .icons {
  color: var(--components-color) !important;
}
.title-second-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;
}

.title-second-inputs h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-title);
}

.flex-bg {
  background-color: var(--bg-icon);
  box-sizing: border-box;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid var(--components-border-2);
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.first-input-secondgroup {
  max-width: 300px;
}

.first-input-secondgroup p,
.second-input-secondgroup p {
  font-size: 0.875rem;
  margin-top: 8px;
  color: var(--text-color-two);
  font-weight: 300;
}

.first-input-secondgroup h2,
.second-input-secondgroup h2 {
  font-size: 0.95rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
  color: var(--text-title);
}

.container-inputs {
  max-width: 250px;
  width: 100%;
  height: 50px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--bg-card-cars);
  border: 1px solid var(--components-border-2);
}

.label {
  color: var(--label-1-color) !important;
  font-weight: 600;
}

@media (max-width: 570px) {
  .container-inputs {
    max-width: 170px;
    width: 100%;
    height: 50px;
  }
  .label {
    font-size: 0.775rem;
  }
  .first-input-secondgroup {
    max-width: 200px;
  }
}

.buttons-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.voltar {
  background: var(--bg-card-cars);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--border-payment-card);
  color: var(--text-color-one);
}

.proximo.disabled {
  display: none;
}

.proximo {
  background: var(--components-color);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--border-payment-card);
  color: var(--text-color-four);
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: var(--text-color-six);
}

.grid-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.grid-list h3 {
  font-size: 1rem;
  color: var(--text-title);
  margin-bottom: 8px;
  margin-top: 30px;
}

.renda span {
  color: var(--text-color-five);
}

.threeformtitle {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
}

.column-1,
column-2 {
  max-width: 250px;
  width: 100%;
}

::ng-deep .mdc-text-field--filled {
  width: 100%;
}

.forms-width mat-form-field {
  width: 250px;
}

::ng-deep .forms-width .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--search-bg);
}

.adress-forms {
  margin-top: 30px;
}

.adress-forms h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 90px;
}

.adress-forms h3 {
  color: var(--text-title);
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 7px;
}

.adress-flex-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}

.cep mat-form-field {
  width: 120px;
}

.adress mat-form-field {
  width: 250px;
}

.city mat-form-field {
  width: 120px;
}

.title-payment-forms {
  text-align: center;
  margin-top: 30px;
}

.title-payment-forms h1 {
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--text-title);
  font-size: 1.5rem;
}

.title-payment-forms p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
  color: var(--text-color-one);
}

.warning-payment-forms-bg {
  max-width: 550px;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  align-items: start;
  margin-top: 40px;
}

.icons-payment-forms {
  padding: 20px;
  border-radius: 5px;
  color: #94a0b8;
}

.warning-coments h2 {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--text-title);
  margin-bottom: 5px;
}

.warning-coments p {
  color: var(--icons-color-payment);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.warning-payment-forms-bg {
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: var(--input-bg);
  padding: 30px 20px;
  border-radius: 7px;
}

.flex-container-payment-forms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.payments-forms h2 {
  margin-bottom: 6px;
  font-size: 1rem;
  color: var(--text-title);
  margin-top: 25px;
}

.payments-forms mat-form-field {
  width: 250px;
  margin-bottom: 5px;
}

.payments-forms mat-error {
  display: block;
  max-width: 200px;
  white-space: normal;
  word-wrap: break-word;
  height: 15px;
}

::ng-deep
  .payments-forms
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--search-bg) !important;
}

.confirm-payment-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.confirm-payment-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-title);
}

.confirm-payment-title p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--text-color-one);
}

.confirm-payment-bg-card {
  box-sizing: border-box;
  padding: 25px;
  background-color: var(--search-bg);
  margin-top: 45px;
  border-radius: 5px;
  border: 1px solid var(--border-payment-card);
}

.cards-infos-title {
  display: flex;
  gap: 20px;
}

.cards-infos-title img {
  max-width: 100px;
  max-height: 70px;
  border-radius: 5px;
}

.cards-infos-content p {
  color: var(--text-color-one);
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10;
}

.infos h2 {
  font-size: 0.875rem;
  color: var(--text-color-one);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.infos p {
  font-size: 0.875rem;
  color: var(--text-title);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.line-divisor {
  height: 1px;
  width: 100%;
  background-color: var(--teste-drive-bg);
  margin-top: 15px;
}

.total p {
  font-size: 1.5rem;
  color: var(--text-special);
  font-weight: 600;
}

@media (max-width: 1115px) {
  .cores-disponiveis {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 8px;
  }
  .cor-opcao {
    padding: 25px 0px;
    max-width: 250px;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 830px) {
  .payment-options {
    flex-wrap: wrap;
  }
}

@media (max-width: 620px) {
  .flex-container {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .forms-width mat-form-field {
    width: 200px;
  }
  .grid-list {
    gap: 15px;
  }
  .adress-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .city mat-form-field,
  .cep mat-form-field,
  .adress mat-form-field {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .forms-width mat-form-field {
    width: 160px;
  }
}
