<mat-stepper labelPosition="bottom" linear="true" #stepper>
  <ng-template matStepperIcon="number" let-index="index">
    <ng-container [ngSwitch]="index">
      <mat-icon *ngSwitchCase="0">palette</mat-icon>
      <mat-icon *ngSwitchCase="1">payment</mat-icon>
      <mat-icon *ngSwitchCase="2">person</mat-icon>
      <mat-icon *ngSwitchCase="3">account_balance</mat-icon>
      <mat-icon *ngSwitchCase="4">check_circle</mat-icon>
      <mat-icon *ngSwitchDefault>radio_button_unchecked</mat-icon>
    </ng-container>
  </ng-template>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personalização</ng-template>
      <h1 class="title color-titles poppins-semibold --title-text-24px">
        Personalize seu veículo
      </h1>
      <div class="cores-disponiveis">
        <div *ngFor="let cor of cores" class="cor-opcao" [class.selected]="corSelecionada?.nome === cor.nome" (click)="selecionarCor(cor)">
          <div class="circle" [style.backgroundColor]="cor.codigoCor"></div>
          <span>{{ cor.nome }}</span>
          <p>+ {{ cor.precoAdicional | currency : "BRL" }}</p>
        </div>
      </div>
      <button class="next-btn" mat-button matStepperNext [disabled]="!firstFormGroup.valid">
        Próximo
      </button>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Forma de Pagamento</ng-template>

      <div class="secondforms-title">
        <h1>Forma de Pagamento</h1>
        <p>Escolha como deseja pagar pelo seu veículo</p>
      </div>

      <div class="payment-options">
        <div class="payment-card" (click)="secondFormGroup.controls['paymentMethod'].setValue('card')" [class.selected]="
            secondFormGroup.controls['paymentMethod'].value === 'card'
          ">
          <mat-icon class="icons">credit_card</mat-icon>
          <h2 style="font-size: 1.35rem">Cartão/Transferência</h2>
          <p class="pay-type">Pagamento tradicional</p>
          <span>{{ precoFinal | currency : "BRL" }}</span>
          <p class="pay-last">Seguro e confiável</p>
        </div>

        <div class="payment-card" (click)="secondFormGroup.controls['paymentMethod'].setValue('pix')" [class.selected]="
            secondFormGroup.controls['paymentMethod'].value === 'pix'
          ">
          <mat-icon class="icons">pix</mat-icon>
          <h2>PIX</h2>
          <p class="pay-type">Pagamento com desconto</p>
          <span>{{ precoFinalComDesconto | currency : "BRL" }}</span>
          <p class="pay-pix">5% de desconto</p>
        </div>

        <div class="payment-card" (click)="
            secondFormGroup.controls['paymentMethod'].setValue('financing')
          " [class.selected]="
            secondFormGroup.controls['paymentMethod'].value === 'financing'
          ">
          <mat-icon class="icons">payments</mat-icon>
          <h2>Financiamento</h2>
          <p class="pay-type">Até 60x</p>
          <span>{{ precoFinal / 60 | currency : "BRL" }} / mês</span>
          <p class="pay-last">Parcele em até 60x</p>
        </div>
      </div>

      <mat-error *ngIf="
          secondFormGroup.controls['paymentMethod'].hasError('required') &&
          secondFormGroup.controls['paymentMethod'].touched
        ">
        Por favor, selecione uma forma de pagamento.
      </mat-error>

      <div *ngIf="secondFormGroup.get('paymentMethod')?.value === 'financing'" formGroupName="financingDetails" class="financing-form">
        <div class="flex-bg">
          <div class="title-second-inputs">
            <mat-icon class="icons-second-input">calculate</mat-icon>
            <h1>Configurar Financiamento</h1>
          </div>

          <div class="flex-container">
            <div class="first-input-secondgroup">
              <h2>Valor de entrada</h2>
              <mat-form-field class="container-inputs">
                <mat-label class="label">Digite o valor da entrada</mat-label>
                <input class="inputs" matInput formControlName="downPayment" type="number" placeholder="Ex: 50000" />
              </mat-form-field>
              <p>
                Valor minimo de 15%, valor recomendado de 20% do valor total
              </p>
            </div>

            <div class="second-input-secondgroup">
              <h2>Número de Parcelas</h2>

              <mat-form-field class="container-inputs">
                <mat-label class="label-1">Número de Parcelas</mat-label>
                <mat-select formControlName="installments">
                  <mat-option value="12">12</mat-option>
                  <mat-option value="24">24</mat-option>
                  <mat-option value="36">36</mat-option>
                  <mat-option value="48">48</mat-option>
                  <mat-option value="60">60</mat-option>
                </mat-select>
              </mat-form-field>
              <p>Taxas preferenciais para até 60 parcelas</p>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="buttons-nav">
      <button class="voltar" mat-button matStepperPrevious>
        <mat-icon style="color: var(--text-title)">arrow_back</mat-icon>
        Voltar
      </button>
      <button class="proximo" mat-button matStepperNext [disabled]="!secondFormGroup.valid" [ngClass]="{ disabled: !secondFormGroup.valid }">
        Próximo
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="threeFormGroup">
    <form [formGroup]="threeFormGroup">
      <ng-template matStepLabel>Dados Pessoais</ng-template>
      <div class="threeformtitle">
        <h1 class="poppins-semibold --title-text-24px color-titles">
          Dados Pessoais
        </h1>
        <p class="poppins-regular --text-16px" style="color: var(--text-color-two)">
          Precisamos dessas informações para finalizar a compra
        </p>
      </div>

      <div class="grid-list">
        <div class="column-1">
          <div class="name-forms forms-width">
            <h3>Nome completo*</h3>
            <mat-form-field>
              <mat-label>Seu Nome Completo</mat-label>
              <input matInput formControlName="nome_completo" placeholder="Ex. Uelisson Silva" required />
            </mat-form-field>
            <mat-error *ngIf="
                threeFormGroup.get('nome_completo')?.invalid &&
                (threeFormGroup.get('nome_completo')?.touched ||
                  threeFormGroup.get('nome_completo')?.dirty)
              ">
              <span *ngIf="
                  threeFormGroup.get('nome_completo')?.hasError('required')
                ">
                Por favor, digite um nome!
              </span>
              <span *ngIf="
                  threeFormGroup.get('nome_completo')?.hasError('minlength')
                ">
                O nome deve conter ao menos 3 caracteres.
              </span>
            </mat-error>
          </div>

          <div class="email forms-width">
            <h3>Email*</h3>
            <div>
              <mat-form-field>
                <mat-label>Digite seu email</mat-label>
                <input matInput placeholder="email@example.com" formControlName="email" required />
              </mat-form-field>

              <mat-error *ngIf="
                  threeFormGroup.get('email')?.invalid &&
                  (threeFormGroup.get('email')?.touched ||
                    threeFormGroup.get('email')?.dirty)
                ">
                <span *ngIf="threeFormGroup.get('email')?.hasError('required')">
                  Por favor, digite um email!
                </span>
                <span *ngIf="threeFormGroup.get('email')?.hasError('email')">
                  Porfavor digite um email valido!
                </span>
              </mat-error>
            </div>
          </div>

          <div class="rg forms-width">
            <h3>RG*</h3>
            <div>
              <mat-form-field>
                <mat-label>Digite o seu Rg</mat-label>
                <input matInput type="number" placeholder="00.000.000-0" formControlName="rg" required />
              </mat-form-field>

              <mat-error *ngIf="
                  threeFormGroup.get('rg')?.invalid &&
                  (threeFormGroup.get('rg')?.touched ||
                    threeFormGroup.get('rg')?.dirty)
                ">
                <span *ngIf="threeFormGroup.get('rg')?.hasError('required')">
                  Por favor, digite seu rg!
                </span>
              </mat-error>
            </div>
          </div>
        </div>

        <div class="column-2">
          <div class="cpf forms-width">
            <h3>CPF*</h3>
            <div>
              <mat-form-field>
                <mat-label>Digite o seu cpf</mat-label>
                <input matInput placeholder="000.000.000-00" formControlName="cpf" required />
              </mat-form-field>

              <mat-error *ngIf="
                  threeFormGroup.get('cpf')?.invalid &&
                  (threeFormGroup.get('cpf')?.touched ||
                    threeFormGroup.get('cpf')?.dirty)
                ">
                <span *ngIf="threeFormGroup.get('cpf')?.hasError('required')">
                  Por favor, digite seu cpf!
                </span>
                <span *ngIf="threeFormGroup.get('cpf')?.hasError('cpfInvalido')">
                  digite um cpf valido.
                </span>
              </mat-error>
            </div>
          </div>

          <div class="telefone forms-width">
            <h3>Telefone*</h3>
            <div>
              <mat-form-field>
                <mat-label>Digite o seu telefone</mat-label>
                <input matInput appPhoneMask placeholder="(71) 99999-9999" formControlName="telefone" required />
              </mat-form-field>

              <mat-error *ngIf="
                  threeFormGroup.get('telefone')?.invalid &&
                  (threeFormGroup.get('telefone')?.touched ||
                    threeFormGroup.get('telefone')?.dirty)
                ">
                <span *ngIf="threeFormGroup.get('telefone')?.hasError('required')">
                  Por favor, digite seu telefone!
                </span>
                <span *ngIf="
                    threeFormGroup.get('telefone')?.hasError('telefoneInvalido')
                  ">
                  Por favor, digite um telefone valido.
                </span>
              </mat-error>
            </div>
          </div>

          <div class="renda forms-width">
            <h3>Renda Mensal*</h3>
            <div>
              <mat-form-field>
                <input matInput type="number" class="example-right-align" placeholder="0" formControlName="renda" required />
                <span matTextPrefix>R$&nbsp;</span>
                <span matTextSuffix>,00</span>
              </mat-form-field>

              <mat-error *ngIf="
                  threeFormGroup.get('renda')?.invalid &&
                  (threeFormGroup.get('renda')?.touched ||
                    threeFormGroup.get('renda')?.dirty)
                ">
                <span *ngIf="threeFormGroup.get('renda')?.hasError('required')">
                  Por favor, digite seu rg!
                </span>
              </mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="adress-forms">
        <h4 class="color-titles --text-16px poppins-semibold">
          Endereço de Entrega
        </h4>
        <div class="adress-flex-container">
          <div class="cep">
            <h3>Cep*</h3>
            <div>
              <mat-form-field>
                <input matInput appCepMask placeholder="00000-000" formControlName="cep" required />
              </mat-form-field>
              <mat-error *ngIf="
                  threeFormGroup.get('cep')?.invalid &&
                  (threeFormGroup.get('cep')?.touched ||
                    threeFormGroup.get('cep')?.dirty)
                ">
                <span *ngIf="threeFormGroup.get('cep')?.hasError('required')">
                  Por favor, digite seu cep!
                </span>
                <span *ngIf="
                    threeFormGroup.get('cep')?.hasError('cepNaoEncontrado')
                  ">
                  digite um cep valido.
                </span>
              </mat-error>
            </div>
          </div>

          <div class="adress">
            <h3>Endereço*</h3>
            <div>
              <mat-form-field>
                <input matInput placeholder="Rua, número, complemento" formControlName="endereco" required />
              </mat-form-field>
            </div>
          </div>

          <div class="city">
            <h3>Cidade*</h3>
            <div>
              <mat-form-field>
                <input matInput placeholder="Sua cidade" formControlName="cidade" required />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="buttons-nav">
      <button class="voltar" mat-button matStepperPrevious>
        <mat-icon style="color: var(--text-title)">arrow_back</mat-icon>
        Voltar
      </button>
      <button class="proximo" mat-button matStepperNext [disabled]="!threeFormGroup.valid" [ngClass]="{ disabled: !threeFormGroup.valid }">
        Próximo
      </button>
    </div>
  </mat-step>

  <mat-step *ngIf="secondFormGroup.get('paymentMethod')?.value !== 'pix'" [stepControl]="paymentFormGroup">
    <form [formGroup]="paymentFormGroup">
      <ng-template matStepLabel>Dados Bancários</ng-template>

      <div class="title-payment-forms">
        <h1>Dados Bancários</h1>
        <p>Precisamos dessas informações para finalizar a compra</p>
      </div>

      <div class="warning-payment-forms-bg">
        <mat-icon class="icons-payment-forms" style="color: var(--text-title)">security</mat-icon>
        <div class="warning-coments">
          <h2>Segurança Garantida</h2>
          <p>
            Seus dados bancários estão protegidos por criptografia de ponta a
            ponta e nunca serão compartilhados ou armazenas em nossos
            servidores. Utilizamos o mais alto padrão de segurança em nossa
            indústria.
          </p>
        </div>
      </div>

      <div class="flex-container-payment-forms">
        <div class="column-one-payment-forms">
          <div class="banco payments-forms">
            <h2>Banco*</h2>
            <mat-form-field>
              <mat-label>seu banco</mat-label>
              <input matInput formControlName="banco" placeholder="Nome do banco" required />
            </mat-form-field>
            <mat-error *ngIf="
                paymentFormGroup.get('banco')?.invalid &&
                (paymentFormGroup.get('banco')?.touched ||
                  paymentFormGroup.get('banco')?.dirty)
              ">
              <span *ngIf="paymentFormGroup.get('banco')?.hasError('required')">
                Por favor, digite o numero do banco!
              </span>
            </mat-error>
          </div>

          <div class="agencia payments-forms">
            <h2>Agência*</h2>
            <mat-form-field>
              <mat-label>Sua Agência e Conta</mat-label>
              <input matInput formControlName="agencia" placeholder="0000" required />
            </mat-form-field>
            <mat-error *ngIf="
                paymentFormGroup.get('agencia')?.invalid &&
                (paymentFormGroup.get('agencia')?.touched ||
                  paymentFormGroup.get('agencia')?.dirty)
              ">
              <span *ngIf="paymentFormGroup.get('agencia')?.hasError('required')">
                Por favor, digite o numero da agência!
              </span>
            </mat-error>
          </div>

          <div class="account payments-forms">
            <h2>Número da conta*</h2>
            <mat-form-field>
              <mat-label>Numero da conta</mat-label>
              <input matInput formControlName="numeroDaConta" placeholder="0000-0" required />
            </mat-form-field>
            <mat-error *ngIf="
                paymentFormGroup.get('numeroDaConta')?.invalid &&
                (paymentFormGroup.get('numeroDaConta')?.touched ||
                  paymentFormGroup.get('numeroDaConta')?.dirty)
              ">
              <span *ngIf="
                  paymentFormGroup.get('numeroDaConta')?.hasError('required')
                ">
                Por favor, digite o numero da Conta!
              </span>
            </mat-error>
          </div>
        </div>

        <div class="column-two-payment-forms">
          <div class="digito payments-forms">
            <h2>Digito*</h2>
            <mat-form-field>
              <mat-label>Digito da conta</mat-label>
              <input matInput formControlName="digito" placeholder="000" required />
            </mat-form-field>
            <mat-error *ngIf="
                paymentFormGroup.get('digito')?.invalid &&
                (paymentFormGroup.get('digito')?.touched ||
                  paymentFormGroup.get('digito')?.dirty)
              ">
              <span *ngIf="paymentFormGroup.get('digito')?.hasError('required')">
                Por favor, digite o digito da Conta!
              </span>
            </mat-error>
          </div>

          <div class="titular payments-forms">
            <h2>Nome do Titular*</h2>
            <mat-form-field>
              <mat-label>Digite o nome</mat-label>
              <input matInput formControlName="nomeDoTitular" placeholder="Digite seu nome" required />
            </mat-form-field>
            <mat-error *ngIf="
                paymentFormGroup.get('nomeDoTitular')?.invalid &&
                (paymentFormGroup.get('nomeDoTitular')?.touched ||
                  paymentFormGroup.get('nomeDoTitular')?.dirty)
              ">
              <span *ngIf="
                  paymentFormGroup.get('nomeDoTitular')?.hasError('required')
                ">
                Por favor, digite o nome do titular da Conta!
              </span>
            </mat-error>
          </div>

          <div class="account payments-forms">
            <h2>CPF do titular*</h2>
            <mat-form-field>
              <mat-label>Digite o cpf</mat-label>
              <input matInput formControlName="cpfDoTitular" placeholder="Digite seu nome" required />
            </mat-form-field>
            <mat-error *ngIf="
                paymentFormGroup.get('cpfDoTitular')?.invalid &&
                (paymentFormGroup.get('cpfDoTitular')?.touched ||
                  paymentFormGroup.get('cpfDoTitular')?.dirty)
              ">
              <span *ngIf="
                  paymentFormGroup.get('cpfDoTitular')?.hasError('required')
                ">
                Por favor, digite seu cpf!
              </span>
              <span *ngIf="
                  paymentFormGroup.get('cpfDoTitular')?.hasError('cpfInvalido')
                ">
                digite um cpf valido.
              </span>
            </mat-error>
          </div>
        </div>
      </div>

      <div class="buttons-nav">
        <button class="voltar" mat-button matStepperPrevious>
          <mat-icon style="color: var(--text-title)">arrow_back</mat-icon>
          Voltar
        </button>
        <button class="proximo" mat-button matStepperNext [disabled]="!paymentFormGroup.valid" [ngClass]="{ disabled: !paymentFormGroup.valid }">
          Próximo
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Confirmação</ng-template>

    <div class="confirm-payment-title">
      <h1>Confirmação da Compra</h1>
      <p>Revise todos os detalhes antes de finalizar a compra</p>
    </div>

    <div class="confirm-payment-bg-card">
      <div class="cards-infos-title">
        <div class="image">
          <img [src]="corSelecionada?.imagem" [alt]="'Imagem do ' + car.nome + ' na cor ' + corSelecionada?.nome" />
        </div>
        <div class="cards-infos-content">
          <h2 class="color-titles --title-text-24px poppins-bold ">{{ car.nome }}</h2>
          <p class="--text-14px">{{ corSelecionada?.nome }}</p>
        </div>
      </div>

      <div class="all-infos">
        <div class="preco-base infos">
          <h2>Preço base do veículo:</h2>
          <p>{{ car.preco | currency : "BRL" }}</p>
        </div>

        <div class="line-divisor"></div>

        <div class="pagamento infos">
          <h2>Forma de Pagamento:</h2>
          <p *ngIf="paymentMethod === 'pix'">Pix</p>
          <p *ngIf="paymentMethod === 'card'">Cartão/Transferência</p>
          <p *ngIf="paymentMethod === 'financing'">Financiamento</p>
        </div>

        <div class="line-divisor"></div>

        <ng-container [ngSwitch]="paymentMethod">
          <div *ngSwitchCase="'pix'" class="desconto infos">
            <h2>Valor do desconto:</h2>
            <p>{{ precoFinal - precoFinalComDesconto | currency : "BRL" }}</p>
          </div>

          <div *ngSwitchCase="'financing'" class="desconto infos">
            <h2>Entrada:</h2>
            <p>{{ downPayment | currency : "BRL" }}</p>
          </div>
        </ng-container>

        <div class="line-divisor"></div>

        <ng-container [ngSwitch]="paymentMethod">
          <div *ngSwitchCase="'pix'" class="descontoAplicadoOuParcelas infos">
            <h2>Desconto Aplicado:</h2>
            <p>5% de desconto</p>
          </div>

          <div *ngSwitchCase="'financing'" class="descontoAplicadoOuParcelas infos">
            <h2>Parcelas:</h2>
            <p>{{ installments }}x de {{ valorParcela | currency : "BRL" }}</p>
          </div>
        </ng-container>

        <div class="line-divisor"></div>

        <div class="total infos">
          <h2>Total:</h2>
          <p *ngIf="paymentMethod === 'pix'">
            {{ precoFinalComDesconto | currency : "BRL" }}
          </p>
          <p *ngIf="paymentMethod !== 'pix'">
            {{ precoFinal | currency : "BRL" }}
          </p>
        </div>
      </div>

    </div>

    <div class="buttons-nav">
      <button class="voltar" mat-button matStepperPrevious>Voltar</button>
      <button *ngIf="paymentMethod !== 'pix'" class="proximo" mat-button (click)="stepper.reset()">Finalizar Compra</button>
      <button style="color: var(--input-bg);" *ngIf="paymentMethod === 'pix'" class="proximo" mat-button (click)="stepper.reset()">gerar pix
        <mat-icon style="color: var(--megamenu-bg)">qr_code</mat-icon>
      </button>
    </div>
  </mat-step>
</mat-stepper>