<div class="edit-container">
  <h1 class="color-titles">Editar Veículo</h1>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="flex-container">
      <div class="column-1">
        <div>
          <mat-form-field class="column-1-form">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="column-1-form">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="modelo" />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="column-1-form">
            <mat-label>Combustível</mat-label>
            <mat-select formControlName="combustiveis">
              <mat-option
                *ngFor="let combustivel of combustiveis"
                [value]="combustivel"
              >
                {{ combustivel }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="column-2">
        <mat-form-field class="column-2-form">
          <mat-label>Preço</mat-label>
          <input matInput formControlName="preco" type="number" />
        </mat-form-field>
        <mat-form-field class="column-2-form">
          <mat-label>Estoque</mat-label>
          <input matInput formControlName="estoque" type="number" />
        </mat-form-field>
      </div>
      <div class="column-3">
        <mat-form-field class="column-3-form">
          <mat-label>Ano</mat-label>
          <input matInput formControlName="ano" type="number" />
        </mat-form-field>
        <mat-form-field class="column-3-form">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria">
            <mat-option
              *ngFor="let categoria of categorias"
              [value]="categoria"
            >
              {{ categoria }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="big-texts">
      <div class="desc">
        <mat-form-field class="textarea-form">
          <mat-label>Descrição</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="20"
            formControlName="descricao"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="history">
        <mat-form-field class="textarea-form">
          <mat-label>História</mat-label>
          <textarea
            class="textarea"
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="25"
            formControlName="historia"
            #message
            maxlength="2500"
            placeholder="Ex. I need help with..."
          ></textarea>
          <mat-hint align="start"
            ><strong>Não bote informações pessoais aqui</strong>
          </mat-hint>
          <mat-hint align="end">{{ message.value.length }} / 2500</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div formArrayName="galeria" class="galery">
      <h2>Galeria</h2>
      <div
        class="upload-box"
        (drop)="onFileDropped($event)"
        (dragover)="onDragOver($event)"
      >
        <p>Arraste imagens aqui ou clique para selecionar</p>
        <input
          type="file"
          accept="image/*"
          multiple
          (change)="onFileSelected($event)"
        />
      </div>

      <div class="gallery-preview">
        <div
          class="img-wrapper"
          *ngFor="let img of galeria.controls; let i = index"
        >
          <img class="imagem" [src]="img.value" alt="Imagem da galeria" />
          <button
            type="button"
            class="remove-btn"
            (click)="removeControl('galeria', i)"
          >
            ✖
          </button>
        </div>
      </div>
    </div>

    <div formControlName="imagem_principal" class="img_principal">
      <h2>Imagem Principal</h2>
      <div
        class="upload-box"
        (drop)="onFileDroppedPrincipal($event)"
        (dragover)="onDragOver($event)"
      >
        <p>Arraste a imagem aqui ou clique para selecionar</p>
        <input
          type="file"
          accept="image/*"
          (change)="onFileSelectedPrincipal($event)"
        />
      </div>

      <div class="preview" *ngIf="editForm.get('imagem_principal')?.value">
        <img
          class="imagem"
          [src]="editForm.get('imagem_principal')?.value"
          alt="Imagem Principal"
        />
        <button
          type="button"
          class="remove-btn"
          (click)="editForm.get('imagem_principal')?.reset()"
        >
          ✖
        </button>
      </div>
    </div>

    <div formGroupName="especificacoes" class="especs">
      <h2>Especificações</h2>

      <div class="espec-colum-1">
        <mat-form-field class="column-1-form">
          <mat-label>Motor</mat-label>
          <input matInput formControlName="motor" />
        </mat-form-field>

        <mat-form-field class="column-1-form">
          <mat-label>Potencia</mat-label>
          <input matInput formControlName="potencia" />
        </mat-form-field>

        <mat-form-field class="column-1-form">
          <mat-label>Aceleracão</mat-label>
          <input matInput formControlName="aceleracao" />
        </mat-form-field>

        <mat-form-field class="column-1-form">
          <mat-label>aceleracao de 0 a 100</mat-label>
          <input matInput formControlName="aceleracao_0_100" />
        </mat-form-field>
      </div>

      <div class="espec-colum-2">
        <mat-form-field class="column-1-form">
          <mat-label>Suspensao</mat-label>
          <input matInput formControlName="suspensao" />
        </mat-form-field>

        <mat-form-field class="column-1-form">
          <mat-label>Velocidade Maxima</mat-label>
          <input matInput formControlName="velocidade_maxima" />
        </mat-form-field>

        <mat-form-field class="column-1-form">
          <mat-label>Combustivel</mat-label>
          <input matInput formControlName="combustivel" />
        </mat-form-field>

        <mat-form-field class="column-1-form">
          <mat-label>Tracão</mat-label>
          <input matInput formControlName="tracao" />
        </mat-form-field>
      </div>
    </div>

    <div formArrayName="cores">
      <h2>Cores</h2>
      <button type="button" (click)="addControl('cores')">Adicionar Cor</button>
      <div *ngFor="let cor of cores.controls; let i = index">
        <mat-form-field>
          <mat-label>Cor {{ i + 1 }}</mat-label>
          <input matInput [formControlName]="i" />
        </mat-form-field>
        <button type="button" (click)="removeControl('cores', i)">
          Remover
        </button>
      </div>
    </div>

    <div formGroupName="equipamentos">
      <h2>Equipamentos</h2>

      <div formArrayName="seguranca">
        <h3>Segurança</h3>
        <button type="button" (click)="addControl('seguranca')">
          Adicionar
        </button>
        <div *ngFor="let item of seguranca.controls; let i = index">
          <mat-form-field>
            <mat-label>Item {{ i + 1 }}</mat-label>
            <input matInput [formControlName]="i" />
          </mat-form-field>
          <button type="button" (click)="removeControl('seguranca', i)">
            Remover
          </button>
        </div>
      </div>

      <div formArrayName="tecnologia">
        <h3>Tecnologia</h3>
        <button type="button" (click)="addControl('tecnologia')">
          Adicionar
        </button>
        <div *ngFor="let item of tecnologia.controls; let i = index">
          <mat-form-field>
            <mat-label>Item {{ i + 1 }}</mat-label>
            <input matInput [formControlName]="i" />
          </mat-form-field>
          <button type="button" (click)="removeControl('tecnologia', i)">
            Remover
          </button>
        </div>
      </div>

      <div formArrayName="interior">
        <h3>Interior</h3>
        <button type="button" (click)="addControl('interior')">
          Adicionar
        </button>
        <div *ngFor="let item of interior.controls; let i = index">
          <mat-form-field>
            <mat-label>Item {{ i + 1 }}</mat-label>
            <input matInput [formControlName]="i" />
          </mat-form-field>
          <button type="button" (click)="removeControl('interior', i)">
            Remover
          </button>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="editForm.invalid"
      >
        Salvar
      </button>
      <button mat-button routerLink="/dashboard/dashboard-home">
        Cancelar
      </button>
    </div>
  </form>
</div>
