::ng-deep .footer-container {
  margin-top: 250px !important;
  border-top: 1px solid var(--label-1-color);
  padding-top: 50px;
}

@media (max-width: 1115px){
  ::ng-deep .footer-container{
    margin-top: 950px !important;
  }
}

@media (max-width: 792px){
  ::ng-deep .footer-container{
    margin-top: 1150px !important;
  }
}


@media (max-width: 543px){
  ::ng-deep .footer-container{
    margin-top: 1300px !important;
  }
}