<section class="nav-categorias" aria-label="Categorias de Carros">
  <div class="categorias-bg">
    <h1 class="--text-64px color-titles poppins-semibold ">NAVEGAR POR CATEGORIA</h1>
    <p class="text-36px" style="color: var(--text-color-two);">Encontre o veículo perfeito para seu estilo</p>
    <div class="container-dos-cards">
      <button class="btn-categoria" aria-label="botão que leva para pagina de suvs">
        <div class="lista-categoria suv">
          <h2 class="--text-64px " style="color: var(--label-1-color);">SUVs</h2>
        </div>
      </button>
      <button class="btn-categoria" aria-label="botão que leva para pagina de picapes">
        <div class="lista-categoria picapes">
          <h2 class="--text-64px --search-bg " style="color: var(--label-1-color);">Picapes</h2>
        </div>
      </button>
      <button class="btn-categoria" aria-label="botão que leva para pagina de esportivos">
        <div class="lista-categoria esportivos" style="color: var(--label-1-color);">
          <h2 class="--text-64px --search-bg">Esportivos</h2>
        </div>
      </button>
    </div>
  </div>
</section>