<div class="aviso-container-bg">
    <div class="container-flex">
        <mat-icon class="icon" aria-label="Icone de informações importantes" fontIcon="error"></mat-icon>
        <h1>Termos e Condições</h1>
    </div>
    <p class="text">Ao confirmar a compra, você concorda com nossos termos e condições de venda. Nossa equipe
    de especialistas entrará em contato dentro de até 24 horas após a realização da compra para 
    coordenar a entrega e finalizar todos os detalhes restantes.</p>
</div>