<section id="search" class="filtro-de-busca --text-16px">
  <form class="forms-tipos">
    <div class="div-bg">
      <div class="campo">
        <label for="combustivel">Tipo de Combustível</label>
        <select id="combustivel" name="combustivel">
          <option>Todos os Combustíveis</option>
          <option value="gasolina">gasolina</option>
          <option value="etanol">etanol</option>
          <option value="Híbrido">Híbrido</option>
          <option value="Elétrico">Elétrico</option>
        </select>
      </div>