<section id="search" class="filtro-de-busca text-16px">
  <form class="forms-tipos">
    <div class="div-bg">
      <div class="campo">
        <label for="combustivel">Tipo de Combustível</label>
        <select id="combustivel" name="combustivel">
          <option>Todos os Combustíveis</option>
          <option value="gasolina">gasolina</option>
          <option value="etanol">etanol</option>
          <option value="Híbrido">Híbrido</option>
          <option value="Elétrico">Elétrico</option>
        </select>
      </div>

      <div class="campo">
        <label for="modelo">Modelos</label>
        <select id="modelo" name="modelo">
          <option>Todos os modelos</option>
          <option value="SUVs">SUVs</option>
          <option value="picapes">Picapes</option>
          <option value="Esportivos">Esportivos</option>
        </select>
      </div>

      <div class="campo">
        <label for="preco">Faixa de Preço</label>
        <select id="preco" name="preco">
          <option>Qualquer valor</option>
          <option value="500000">R$25.000 a R$50.000</option>
          <option value="500001">R$50.001 a R$99.999</option>
          <option value="100000">R$100.000 a R$300.000</option>
        </select>
      </div>

      <button class="button-search" mat-flat-button>
        <mat-icon class="icon-search" matPrefix>search</mat-icon>
        <span>Buscar </span>
      </button>
    </div>
  </form>
</section>