.example-full-width {
  max-width: 350px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}

.Admin-vehicles-crud {
  max-width: 1450px;
  width: 100%;
  margin: 50px auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

.btn-add {
  background: var(--components-color);
  color: var(--text-color-four) !important;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add:hover {
  background: var(--gradient-buttons);
}

.container-initial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titles {
  margin-bottom: 45px;
}

.filter {
  padding: 25px 20px;
  border: 1px solid var(--border-c3);
  align-items: center;
  border-radius: 5px;
}

.filter-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
  color: var(--text-title);
}

.filters-forms {
  display: flex;
  gap: 25px;
  box-sizing: border-box;
}

mat-label {
  color: var(--text-title) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--components-color) !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  color: var(--text-title) !important;
}

::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background: var(--body) !important;
}

::ng-deep .mat-mdc-option.mdc-list-item:hover {
  background: var(--input-bg) !important;
}

::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow svg {
  fill: var(--components-color) !important;
}

::ng-deep .mat-mdc-select-value-text {
  color: var(--text-title);
}

::ng-deep
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  background: var(--card-background);
}

::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-select-panel-above)
  div.mat-mdc-select-panel {
  background: var(--card-background) !important;
}

::ng-deep
  .mat-mdc-form-field.mat-form-field-animations-enabled
  .mdc-text-field__input {
  color: var(--text-title) !important;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background: var(--card-background) !important;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  border: 1px solid var(--border-c3);
}

::ng-deep
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  border: 1px solid var(--border-c3);
}
