.login-bg {
  background-color: #323232;
  border-radius: 8px;
  border: 1px solid #f90;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.login-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #b47f2f 5.18%,
    #c17910 51.45%,
    rgba(180, 127, 47, 0.7) 98.02%
  );
  border-radius: 8px 8px 0 0;
}
