.login-bg {
  background-color: var(--card-background);
  border-radius: 8px;
  border: 1px solid var(--components-color);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.login-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: var(--gradient-login-register);
  border-radius: 8px 8px 0 0;
}

@media (max-width: 500px) {
  .login-bg {
    padding: 30px;
  }
}
