<div class="nav-tabs">
  <mat-tab-group class="tabs">
    <mat-tab label="Descrição">
      <h1 class="--title-text-24px color-titles">descrição</h1>
      <span class="description">{{ car.descricao }}</span>
    </mat-tab>
    <mat-tab label="Especificações">
      <h1 class="--title-text-24px color-titles">Espeficações técnicas</h1>
      <div class="espec-grid">
        <div class="grid-colum-1">
          <app-card-especificacoes class="card-1">
            <mat-icon card-icon>electric_bolt</mat-icon>
            <div card-content class="content-container">
              <span class="titulo">Motor</span>
              <span class="valor">{{car.especificacoes.motor}}</span>
            </div>
          </app-card-especificacoes>
        </div>

        <div class="grid-colum-1">
          <app-card-especificacoes class="card-2">
            <mat-icon style="color: #60A5FA !important;" card-icon>manufacturing</mat-icon>
            <div card-content class="content-container">
              <span class="titulo">Torque</span>
              <span class="valor">{{car.especificacoes.torque}}</span>
            </div>
          </app-card-especificacoes>
        </div>

        <div class="grid-colum-1">
          <app-card-especificacoes class="card-3">
            <mat-icon style="color: #FACC15 !important;" card-icon>speed</mat-icon>
            <div card-content class="content-container">
              <span class="titulo">Velocidade Máxima</span>
              <span class="valor">{{car.especificacoes.velocidade_maxima}} km/h</span>
            </div>
          </app-card-especificacoes>
        </div>


        <div class="grid-colum-1">
          <app-card-especificacoes class="card-4">
            <mat-icon style="color: #4ADE80 !important;" card-icon>plumbing</mat-icon>
            <div card-content class="content-container">
              <span class="titulo">Suspensão</span>
              <span class="valor">{{car.especificacoes.suspensao}}</span>
            </div>
          </app-card-especificacoes>
        </div>

        <div class="grid-colum-2">
          <app-card-especificacoes class="card-5">
            <mat-icon style="color: #39FF14 !important;" card-icon>fitness_center</mat-icon>
            <div card-content class="content-container">
              <span class="titulo">Potência</span>
              <span class="valor">{{car.especificacoes.potencia}}</span>
            </div>
          </app-card-especificacoes>
        </div>

        <div class="grid-colum-2">
          <app-card-especificacoes class="card-6">
            <mat-icon style="color: #7781DF !important;" card-icon>local_gas_station</mat-icon>
            <div card-content class="content-container">
              <span class="titulo">Combustível</span>
              <span class="valor">{{car.combustiveis}}</span>
            </div>
          </app-card-especificacoes>
        </div>

        <div class="grid-colum-2">
          <app-card-especificacoes class="card-7">
            <mat-icon style="color: #4ADE80 !important;" card-icon>settings</mat-icon>
            <div card-content class="content-container">
              <span class="titulo">Tração</span>
              <span class="valor">{{car.especificacoes.tracao}}</span>
            </div>
          </app-card-especificacoes>
        </div>

        <div class="grid-colum-2">
          <app-card-especificacoes class="card-8">
            <mat-icon style="color: #EF4643 !important;" card-icon>timelapse</mat-icon>
            <div card-content class="content-container">
              <span class="titulo">Aceleração 0-100</span>
              <span class="valor">{{car.especificacoes.aceleracao_0_100}}</span>
            </div>
          </app-card-especificacoes>
        </div>

      </div>

    </mat-tab>

    <mat-tab label="Equipamentos">
      <h1 class="--text-32px color-titles">Equipamentos</h1>
      <div class="equipamentos-container">
        <app-card-equipamentos class="card">
          <h2 class="--title-text-24px color-titles" card-title>Segurança</h2>
          <ul itens>
            <li class="list" *ngFor="let item of car.equipamentos.seguranca">
              <mat-icon>check</mat-icon>
              <p>{{ item }}</p>
            </li>
          </ul>
        </app-card-equipamentos>
        <app-card-equipamentos class="card">
          <h2 class="--title-text-24px color-titles" card-title>Tecnologia</h2>
          <ul itens>
            <li class="list" *ngFor="let item of car.equipamentos.tecnologia">
              <mat-icon>check</mat-icon>
              <p>{{ item }}</p>
            </li>
          </ul>
        </app-card-equipamentos>
        <app-card-equipamentos class="card">
          <h2 class="--title-text-24px color-titles" card-title>Interior</h2>
          <ul itens>
            <li class="list" *ngFor="let item of car.equipamentos.interior">
              <mat-icon>check</mat-icon>
              <p>{{ item }}</p>
            </li>
          </ul>
        </app-card-equipamentos>
      </div>
    </mat-tab>
    <mat-tab label="História">
      <h1 class="--title-text-24px color-titles">História</h1>
      <span class="description">{{ car.historia }}</span>
    </mat-tab>
    <mat-tab label="Concessionárias">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">location_on</mat-icon>
        Concessionárias
      </ng-template>
      <h1 class="--text-32px color-titles">Concessionarias proximas</h1>
      <form class="example-form">
        <mat-form-field class="full-width">
          <mat-label>Digite o cep: </mat-label>
          <input matInput placeholder="Ex. 00000-000">
        </mat-form-field>
      </form>
    </mat-tab>
  </mat-tab-group>

  <div class="line"></div>
</div>