.section-galeria {
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1300px;
  display: inline-block;
}

.flex-layout {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1175px) {
  .flex-layout {
    gap: 25px;
  }
  .section-galeria {
    top: 500px;
  }
}

@media (max-width: 1000px) {
  .section-galeria {
    top: 450px;
  }
}

@media (max-width: 750px) {
  .flex-layout {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }
  .section-galeria {
    top: 800px;
  }
}

@media (max-width: 520px) {
  .flex-layout {
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
  }
}
