.main-dropdown-item,
.accordion-header {
  cursor: pointer;
  width: 100%;
}

.chevron-icon {
  margin-left: auto;
}

.sub-menu-container .mat-list-item {
  padding-left: 40px !important;
  color: #ccc;
}

.sub-menu-container .accordion-header {
  padding-left: 24px !important;
  font-weight: 500;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.accordion-content.open {
  max-height: 500px;
}

.accordion-content .mat-list-item {
  padding-left: 56px !important;
}

mat-divider {
  margin: 8px 0;
}
