<section class="list-vehicle-container" aria-label="lista de todos os veiculos do site">
  <div class="list-title">
    <h1>Propostas recebidas</h1>
    <p><span>{{ persons.length }}</span> propostas encontradas</p>
  </div>

  <div class="columns-container">
    <div class="column-1">
      <div class="column-titles">
        <div class="title-row">
          <h1 class="title-list">Cliente</h1>
          <h1 class="title-list">Contato</h1>
          <h1 class="title-list">Veículo</h1>
          <h1 class="title-list">Status</h1>
          <h1 class="title-list">Ações</h1>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="container-infos" *ngFor="let person of persons">
        <div class="row">
          <div class="col veiculo">
            <div class="left-infos">
              <div class="left-info-cars">
                <p>nome do cliente: {{ person.user.name }}</p>
                <p>data da proposta: {{person.purchaseDate | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
          </div>

          <div class="col contato">
            <p> {{person.user.email}}</p>
            <p>Tel: {{person.user.phone}}</p>
          </div>

          <div class="col car-name">
            <p>{{person.car.nome}}</p>
          </div>

          <div class="col status">
            <span [ngClass]="{
              'status-pendente': person.status === 'pendente',
              'status-aprovado': person.status === 'aprovado',
              'status-rejeitado': person.status === 'rejeitado'
            }">
              {{ person.status }}
            </span>
          </div>

          <div class="col acoes">
            <div class="actions">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="approvePurchase(person)">
                  <mat-icon>check</mat-icon>
                  <span>Aprovar</span>
                </button>
                <button mat-menu-item (click)="rejectPurchase(person)">
                  <mat-icon>close</mat-icon>
                  <span>Rejeitar</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</section>