.section-bg {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: var(--bg-titles-inventario);
  padding: 180px 20px;
}

.bg-titles h1 {
  color: var(--text-title-three);
  text-align: center;
}

.bg-titles span {
  color: var(--text-special);
}

.bg-titles p {
  color: var(--text-color-six);
  text-align: center;
}

.bg-titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 540px) {
  .bg-titles h1 {
    font-size: 2.5rem;
  }
  .bg-titles p {
    font-size: 1.3rem;
  }
}
