body {
  background-color: var(--body);
}

.forms-login {
  display: flex;
  justify-content: center;
}

.ford-logo-orange {
  display: flex;
  align-self: flex-start;
  width: 340px;
  height: 180px;
  margin-left: 30px;
  display: block;
}
