.forms-login {
  display: flex;
  justify-content: center;
}

.header-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme {
  margin-right: 30px;
}

.ford-logo-orange {
  display: flex;
  align-self: flex-start;
  width: 200px;
  height: 100px;
  margin-left: 30px;
  display: block;
}

.ford-logo-blue {
  display: flex;
  align-self: flex-start;
  width: 200px;
  height: 100px;
  margin-left: 30px;
  display: block;
}
