<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <ul class="mobile-menu-list">
      @for(item of menuData; track item) {
      <li>
        @if (!item.isTree) {
        <button mat-button class="mobile-menu-button">{{ item.name }}</button>
        }
        @if (item.isTree) {
        <mat-tree [dataSource]="[item]" [childrenAccessor]="getChildren">
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
              <button mat-icon-button (click)="toggleNode(node)">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <span>{{node.name}}</span>
            </div>
            <ul [class.example-tree-invisible]="!isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </mat-nested-tree-node>

          <mat-tree-node *matTreeNodeDef="let node">
            <div class="mat-tree-node is-leaf">
              <button mat-icon-button disabled></button>
              <button mat-button class="mobile-menu-button leaf-button">{{node.name}}</button>
            </div>
          </mat-tree-node>

        </mat-tree>
        }
      </li>
      }
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (menuToggle)="onToggleSidenav()"></app-header>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>