.container-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ford-logo-orange {
  display: flex;
  align-self: flex-start;
  width: 130px;
  height: 60px;
  margin-left: 30px;
  display: block;
  cursor: pointer;
}

.ford-logo-blue {
  display: flex;
  align-self: flex-start;
  width: 130px;
  height: 60px;
  margin-left: 30px;
  display: block;
  cursor: pointer;
}

.header-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme {
  margin-right: 30px;
}

.forms-login {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 30px;
}

@media (max-width: 520px) {
  .container-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ford-logo-orange {
    align-self: center;
  }
}
