<footer class="links-faceis" aria-label="rodape">
  <div class="footer-container">
    <div class="footer-container-menor">
      <div class="logo-footer">
        @if (themeService.currentTheme() === 'dark') {
        <img
          class="ford-logo-orange"
          src="logo-ford/logo-orange.png"
          alt="logo da Ford motor Company"
        />
        } @else {
        <img
          class="ford-logo-blue"
          src="logo-ford/logo-zul.png"
          alt="logo da Ford motor Company"
        />
        }
      </div>
      <div class="lista-Veiculos">
        <h3 class="--title-text-24px poppins-bold color-titles">Veiculos</h3>
        <ul>
          <li><a href="#">Picapes</a></li>
          <li><a href="#">SUVs</a></li>
          <li><a href="#">Performance</a></li>
          <li><a href="#">Eletricos</a></li>
          <li><a href="#">Comerciais</a></li>
          <li><a href="#">Futuros Lançamentos</a></li>
        </ul>
      </div>
      <div class="lista-Comprar">
        <h3 class="--title-text-24px poppins-bold color-titles">Comprar</h3>
        <ul>
          <li><a href="#">Monter o seu</a></li>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Concessionárias</a></li>
          <li><a href="#">Serviços Financeiros</a></li>
          <li><a href="#">Simule seu Financiamento</a></li>
          <li><a href="#">Plano Ford Sempre</a></li>
        </ul>
      </div>
      <div class="lista-Servicos">
        <h3 class="--title-text-24px poppins-bold color-titles">Serviços</h3>
        <ul>
          <li><a href="#">Atualização SYNC®</a></li>
          <li><a href="#">Proprietários</a></li>
          <li><a href="#">Tutoriais (Guia 360)</a></li>
          <li><a href="#">Recall</a></li>
          <li><a href="#">Ford Protect</a></li>
          <li><a href="#">Garantia Ford</a></li>
          <li><a href="#">Serviço Leva e Traz</a></li>
          <li><a href="#">Aplicativo FordPass TM</a></li>
          <li><a href="#">Blindagem Certificada</a></li>
          <li><a href="#">Assistência de Emergência</a></li>
          <li><a href="#">Revisões Ford </a></li>
          <li><a href="#">Agende seu Serviço</a></li>
          <li><a href="#">Reparador Ford</a></li>
          <li><a href="#">Ford PRO™</a></li>
        </ul>
      </div>
      <div class="lista-Sobre">
        <h3 class="--title-text-24px poppins-bold color-titles">
          Sobre a Ford
        </h3>
        <ul>
          <li><a href="#">Carreiras</a></li>
          <li><a href="#">Programa de Estágio</a></li>
          <li><a href="#">Ford Enter</a></li>
          <li><a href="#">Ford Global</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Segurança Veicular</a></li>
          <li><a href="#">Fale Conosco</a></li>
          <li>
            <a href="#"
              >Relatório de transparência e <br />
              igualdade salarial</a
            >
          </li>
          <li><a href="#">Cartões de Resgate</a></li>
        </ul>
      </div>
    </div>
    <div class="redes-sociais">
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Tiktok</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Youtube</a></li>
      </ul>
    </div>

    <div class="links-termos">
      <p>© 2025 Uelisson Tiago. Todos os direitos reservados</p>
      <div class="termos-nav">
        <a href="./">Política de Privacidade</a>
        <a href="">Termos de Uso</a>
      </div>
    </div>
  </div>
</footer>
