.video-bg {
  position: fixed;
  top: 100px;
  left: 0;
  max-width: 1980px;
  max-height: 1100px;
  width: 100%;
  height: auto;
  z-index: 1;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
}

@media (max-width: 1150px) {
  .video-bg {
    top: 90px;
  }
}

@media (max-width: 665px) {
  .video-bg {
    top: 80px;
  }
}
