.pesquisa-bg {
  position: absolute;
  box-sizing: border-box;
  top: 570px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--lista-destaques-bg);
  padding: 80px 0px;
  border-bottom: 1px solid var(--border-c1);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background-color: var(--bg-titles-inventario) !important;
  border: 1px solid #a2adb3 !important;
}

.label-pesquisar {
  font-size: 1.5rem;
  color: #a2adb3;
}

::ng-deep .icon-search {
  color: #a2adb3;
}

@media (max-width: 540px) {
  .example-form {
    max-width: 300px;
  }
  .pesquisa-bg {
    top: 450px;
  }
}
