<app-login-register-card>
  <div class="infos">
    <img src="icons/open.svg" alt="entrar svg">
    <h1 class="--title-text-24px color-titles font-wight-700">Seja Bem-vindo de Volta</h1>
    <p class="--title-text-16px color-texts-C1 font-wight-500">Seu carro, sua conta. Faça login.</p>
  </div>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p class="font-wight-500 color-titles input-title">Email</p>
    <mat-form-field appearance="outline" class="input-custom">
      <mat-label>Email</mat-label>
      <mat-icon class="icon-open" matPrefix>email</mat-icon>
      <input matInput formControlName="email" type="email" placeholder="email@exemplo.com">
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        O email é obrigatório.
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Por favor, insira um email válido.
      </mat-error>
    </mat-form-field>

    <p class="font-wight-500 color-titles input-title">Senha</p>
    <mat-form-field appearance="outline" class="input-custom">
      <mat-label>Digite sua senha</mat-label>
      <mat-icon class="icon-open" matPrefix>lock</mat-icon>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
      <button mat-icon-button matSuffix (click)="hide = !hide" aria-label="Mostrar/Esconder senha">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('senha')?.hasError('required')">
        A senha é obrigatória.
      </mat-error>
    </mat-form-field>

    <div class="checkbox-section">
      <mat-checkbox class="example-margin">Lembre-me</mat-checkbox>
      <a routerLink="/cadastro">Esqueceu a senha?</a>
    </div>

    <div *ngIf="loginInvalido" class="error-message">
      <mat-icon>error_outline</mat-icon>
      <span>E-mail ou senha inválidos. Por favor, tente novamente.</span>
    </div>

    <div class="button-enter">
      <button mat-flat-button>
        <mat-icon class="icon-open" matPrefix>login</mat-icon>
        <span>ENTRAR NA MINHA CONTA </span>
      </button>
    </div>


    <app-login-google-facebook></app-login-google-facebook>

    <div class="cadastre-se">
      <p class="--text-16px font-weight-600">Ainda não possui uma conta? <a href="#">Clique aqui e Cadastre-se</a></p>
    </div>


  </form>
</app-login-register-card>