<div class="carousel-container" *ngIf="images.length > 0">
  <div class="main-image-container">
    <div class="image-viewport">
      <div
        id="image-slider"
        [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
      >
        <img
          *ngFor="let image of images"
          [src]="image"
          alt="Imagem do veículo"
          class="slider-image"
        />
      </div>
    </div>

    <button (click)="prevImage()" class="nav-arrow prev-btn">
      <mat-icon class="arrow-left" matPrefix>arrow_back</mat-icon>
    </button>

    <button (click)="nextImage()" class="nav-arrow next-btn">
      <mat-icon class="arrow-right" matPrefix>arrow_forward</mat-icon>
    </button>

    <div class="progress-spinner-container">
      <mat-progress-spinner
        [value]="progressValue"
        mode="determinate"
        diameter="48"
        strokeWidth="4"
        color="primary"
      ></mat-progress-spinner>
    </div>
  </div>

  <div class="thumbnail-gallery">
    <img
      *ngFor="let image of images; let i = index"
      [src]="image"
      [alt]="'Miniatura ' + (i + 1)"
      (click)="changeImage(i)"
      class="thumbnail-img"
      [class.thumbnail-active]="i === currentIndex"
    />
  </div>
</div>
