.last-vehicles {
  display: flex;
  flex-direction: column;
  background: var(--lista-destaques-bg);
  border: 1px solid var(--element-line);
  margin-top: 60px;
  border-radius: 6px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.title {
  margin-left: 30px;
  margin-top: 20px;
  color: var(--text-title);
}
