.last-vehicles {
  display: flex;
  flex-direction: column;
  background: var(--lista-destaques-bg);
  border: 1px solid var(--border-c2);
  margin-top: 60px;
  border-radius: 6px;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.title {
  margin-left: 30px;
  margin-top: 20px;
  color: var(--text-title);
}

@media (max-width: 1460px) {
  .last-vehicles {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .last-vehicles {
    margin-left: 0px;
    margin-right: 0px;
  }
}
