@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0;
  list-style: none;
}

:root {
  --body: #1a1a1a;
  --megamenu-bg: #262626;
  --hover-megamenu: #4e4f4f;
  --card-background: #323232;
  --card-background-two: #323232;
  --search-bg: #262626;
  --components-border-1: #444545;
  --components-border-2: #5e5e5f;
  --label-1-color: #919293;
  --components-color: #ff9900;
  --components-color-two: #ff9600;
  --gradient-components-color: linear-gradient(
    90deg,
    #ff9900 5.18%,
    #ff9600 51.45%,
    rgba(255, 153, 0, 0.7) 98.02%
  );
  --text-a-color-hover: #ff9600;
  --text-color-one: #b5b7b8;
  --text-color-two: #9ea0a0;
  --text-color-three: #f4f4f4;
  --text-color-four: #262626;
  --text-color-five: #dedfe0;
  --text-color-six: #b6b8b9;
  --element-line: #4e4f4f;
  --bg-element-color-one: #262626;
  --text-title: #ffffff;
  --text-title-two: #e9faff;
  --text-title-three: #dedfe0;
  --text-special: #ff9900;
  --component-hover: #ffbd2d;
  --gray-text: #f6f6f6;
  --icons-color-one: #bfc1c2;
  --icons-bg: #704b14;
  --input-bg: #262626;
  --input-border: #555556;
  --border-color-two: #515151;
  --border-color-three: #6e6e6e;
  --header-bg: #1c1c1d;
  --lista-destaques-bg: #333333;
  --border-c1: #919293;
  --border-c2: #272727;
  --bg-color-parceiros: #1a1a1a;
  --icone-beneficios: #efefef;
  --stroke-icones-beneficios: #272727;
  --footer-text-color: #bfc1c2;
  --gradient-login-register: linear-gradient(
    90deg,
    #b47f2f 5.18%,
    #c17910 51.45%,
    rgba(180, 127, 47, 0.7) 98.02%
  );
  --bg-titles-inventario: #29292d;
  --inventario-titles-color: #bfc1c2;
  --label-inventario: #ded5c9;
  --hover-filter: #333333;
  --filter-text-label: white;
  --teste-drive-bg: #4f5050;
  --bg-card-cars: #333333;
  --border-payment-card: #4a4947;
  --bg-icon: #2a2828;
  --icons-color-payment: #94a0b8;
  --gradient-buttons: linear-gradient(135deg, #FF2626 0%, #FFFF26 100%);
}

html.white-theme {
  --body: #f4f4f4;
  --megamenu-bg: #ebebf2;
  --hover-megamenu: #dbdbe1;
  --card-background: #ffffff;
  --card-background-two: #2a4a91;
  --search-bg: #eef1f6;
  --components-border-1: #dbdbe1;
  --components-border-2: #4e4f4f;
  --label-1-color: #94a3b8;
  --components-color: #2563eb;
  --components-color-two: #2a4a91;
  --gradient-components-color: linear-gradient(
    90deg,
    #2563eb 5.18%,
    #2a4a91 51.45%,
    rgba(37, 99, 235, 0.7) 98.02%
  );
  --text-a-color-hover: #a9aade;
  --text-color-one: #4e4f4f;
  --text-color-two: #9ea0a0;
  --text-color-three: #f4f4f4;
  --text-color-four: #262626;
  --text-color-five: conic-gradient(
    from 90deg at 53.91% 50%,
    #84bcfc 62.04330861568451deg,
    #cbd8e6 310.9051251411438deg
  );
  --text-color-six: #3b4246;
  --element-line: #4e4f4f;
  --bg-element-color-one: #2563eb;
  --text-title: #262626;
  --text-title-two: #e9faff;
  --text-title-three: #0f172a;
  --text-special: #2563eb;
  --component-hover: #5f86da;
  --gray-text: #4e4f4f;
  --icons-color-one: #0f172a;
  --icons-bg: #5f86da;
  --input-bg: #ebebf2;
  --input-border: #555556;
  --border-color-two: #5f86da;
  --border-color-three: #e6e6e6;
  --header-bg: #044ea7;
  --lista-destaques-bg: #e6eaf0;
  --border-c1: #b6b8c4;
  --border-c2: #b6b8c4;
  --bg-color-parceiros: cornflowerblue;
  --icone-beneficios: #1c1c1d;
  --stroke-icones-beneficios: #272727;
  --footer-text-color: #0f172a;
  --gradient-login-register: linear-gradient(
    90deg,
    #97c4f7 5.18%,
    #2563eb 51.45%,
    rgba(162, 200, 242, 0.7) 98.02%
  );
  --bg-titles-inventario: #f4f4f4;
  --inventario-titles-color: #0f172a;
  --label-inventario: #ded5c9;
  --hover-filter: #f9fafb;
  --filter-text-label: #6b7280;
  --teste-drive-bg: #a9aade;
  --bg-card-cars: #e6eaf0;
  --border-payment-card: #dbdbe1;
  --bg-icon: #94a0b8;
  --icons-color-payment: #2a2828;
  --gradient-buttons: linear-gradient(
    90deg,
    #97c4f7 5.18%,
    #2563eb 51.45%,
    rgba(162, 200, 242, 0.7) 98.02%
  );
}

html {
  background: var(--body);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.color-titles {
  color: var(--text-title);
}

.color-texts-C1 {
  color: var(--text-color-one);
}

.--title-text-24px {
  font-size: 1.5rem;
}

.--text-16px {
  font-size: 1rem;
}

.--text-64px {
  font-size: 4rem;
}

.--text-32px {
  font-size: 2rem;
}

.--text-14px {
  font-size: 0.875rem;
}

.font-wight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-wight-700 {
  font-weight: 700;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
p,
ul,
h3,
li,
ul {
  margin: 0px;
}
