.example-full-width {
  max-width: 300px;
  width: 100%;
  max-height: 100px;
  height: 100%;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
  border-color: var(--component-hover);
}

:host
  ::ng-deep
  .mat-mdc-form-field:not(.mat-form-field-disabled)
  .mat-mdc-floating-label.mdc-floating-label {
  color: var(--gray-text);
}

:host
  ::ng-deep
  .mat-mdc-form-field:not(.mat-form-field-disabled):hover
  .mat-mdc-floating-label.mdc-floating-label {
  color: var(--components-color);
}

::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above)
  div.mat-mdc-autocomplete-panel {
  background-color: var(--card-background) !important;
}

.example-option-img {
  height: 60px;
}

@media (max-width: 1150px) {
  .example-full-width {
    max-width: 180px;
    max-height: 50px;
  }
}

@media (max-width: 1070px) {
  .example-full-width {
    max-width: 170px;
    max-height: 50px;
  }
}

@media (max-width: 665px) {
  .example-full-width {
    display: none;
  }
}
