<section class="parceiros-container" aria-label="Nossos Parceiros">
  <div class="brands-columns">
    <div class="brand-column">
      <div class="logo-slot">
        @if (themeService.currentTheme() === 'dark') {
        <img
          src="/empresas-parceiras-svg/amazon 1.svg"
          class="logo"
          alt="Amazon"
        />
        } @else{
        <img src="/logos-coloridas/amazon 1.svg" class="logo" alt="Amazon" />
        } @if (themeService.currentTheme() === 'dark'){
        <img
          src="/empresas-parceiras-svg/BlueOval_SK_NoArc_Screen_RGB_v1 1.svg"
          class="logo"
          alt="BlueOval"
        />
        } @else {
        <img
          src="/logos-coloridas/BlueOval_SK_NoArc_Screen_RGB_v1 1.svg"
          class="logo"
          alt="BlueOval"
        />
        } @if (themeService.currentTheme() === 'dark'){
        <img
          src="/empresas-parceiras-svg/cimatec 1.svg"
          class="logo"
          alt="Senai"
        />
        } @else {
        <img src="/logos-coloridas/cimatec 1.svg" class="logo" alt="Senai" />
        }
      </div>
    </div>

    <div class="brand-column">
      <div class="logo-slot">
        @if (themeService.currentTheme() === 'dark') {
        <img
          src="/empresas-parceiras-svg/continental.svg"
          class="logo"
          alt="Continental"
        />
        } @else {
        <img
          src="/logos-coloridas/continental-logo.png"
          class="logo"
          alt="Continental"
        />
        } @if (themeService.currentTheme() === 'dark') {
        <img
          src="/empresas-parceiras-svg/Google_2015_logo.svg 1.svg"
          class="logo"
          alt="Google"
        />
        }@else {
        <img
          src="/logos-coloridas/Google_2015_logo.svg 1.svg"
          class="logo"
          alt="Google"
        />
        } @if (themeService.currentTheme() === 'dark') {
        <img
          src="/empresas-parceiras-svg/Logotipo_da_Caoa.svg 1.svg"
          class="logo"
          alt="Caoa"
        />
        } @else {
        <img
          src="/logos-coloridas/Logotipo_da_Caoa.svg 1.svg"
          class="logo"
          alt="Caoa"
        />
        }
      </div>
    </div>

    <div class="brand-column">
      <div class="logo-slot">
        @if (themeService.currentTheme() === 'dark') {
        <img
          src="/empresas-parceiras-svg/red bull 2 1.svg"
          class="logo"
          alt="Red Bull"
        />
        } @else {
        <img
          src="/logos-coloridas/red bull 2 1.svg"
          class="logo"
          alt="Red Bull"
        />
        } @if (themeService.currentTheme() === 'dark'){
        <img
          src="/empresas-parceiras-svg/rede cidada.svg"
          class="logo"
          alt="Rede Cidadã"
        />
        } @else {
        <img
          src="/logos-coloridas/rede cidada.svg"
          class="logo"
          alt="Rede Cidadã"
        />
        } @if (themeService.currentTheme() === 'dark'){
        <img
          src="/empresas-parceiras-svg/SK ON.c6b5ded2 1.svg"
          class="logo"
          alt="SK On"
        />
        } @else {
        <img src="/logos-coloridas/SK-on.png" class="logo" alt="SK On" />
        }
      </div>
    </div>
  </div>
</section>
